<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CognitiveModule -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="eu.coresense.CognitiveModule.presentation.CognitiveModuleModelWizardID"
            name="%_UI_CognitiveModuleModelWizard_label"
            class="eu.coresense.CognitiveModule.presentation.CognitiveModuleModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CognitiveModuleModelFile.gif">
         <description>%_UI_CognitiveModuleModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated CognitiveModule -->
      <editor
            id="eu.coresense.CognitiveModule.presentation.CognitiveModuleEditorID"
            name="%_UI_CognitiveModuleEditor_label"
            icon="icons/full/obj16/CognitiveModuleModelFile.gif"
            extensions="cognitivemodule"
            class="eu.coresense.CognitiveModule.presentation.CognitiveModuleEditor"
            contributorClass="eu.coresense.CognitiveModule.presentation.CognitiveModuleActionBarContributor">
      </editor>
   </extension>

</plugin>
