<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CognitiveModule -->
      <package
            uri="https://coresense.eu/CognitiveModule"
            class="eu.coresense.CognitiveModule.CognitiveModulePackage"
            genModel="model/CognitiveModule.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"
            type="*">
      </parser>
   </extension>

</plugin>
